carshow.internal {
  tls internal

  redir /carshow /carshow/
  redir /show /show/

  handle_path /show/api/* {
    reverse_proxy 127.0.0.1:4000
  }

  handle_path /show/* {
    reverse_proxy 127.0.0.1:3002
  }

  handle_path /carshow/api/* {
    reverse_proxy 127.0.0.1:4000
  }

  handle_path /carshow/judge/* {
    reverse_proxy 127.0.0.1:3001
  }

  handle_path /carshow/* {
    reverse_proxy 127.0.0.1:3000
  }

  handle_path /api/* {
    reverse_proxy 127.0.0.1:4000
  }

  handle {
    reverse_proxy 127.0.0.1:3000
  }
}

automationsolutions.ddns.net {
  redir / /carshow/
  redir /carshow /carshow/
  redir /show /show/

  handle_path /show/api/* {
    reverse_proxy 127.0.0.1:4000
  }

  handle_path /show/* {
    reverse_proxy 127.0.0.1:3002
  }

  handle_path /carshow/api/* {
    reverse_proxy 127.0.0.1:4000
  }

  handle_path /carshow/judge/* {
    reverse_proxy 127.0.0.1:3001
  }

  handle_path /carshow/* {
    reverse_proxy 127.0.0.1:3000
  }
}
