carshow.internal {
  tls internal

  redir /carshow /carshow/

  handle_path /carshow/api/* {
    reverse_proxy 127.0.0.1:4000
  }

  handle_path /carshow/* {
    reverse_proxy 127.0.0.1:3000
  }

  handle_path /api/* {
    reverse_proxy 127.0.0.1:4000
  }

  handle {
    reverse_proxy 127.0.0.1:3000
  }
}

automationsolutions.ddns.net {
  redir / /carshow/
  redir /carshow /carshow/

  handle_path /carshow/api/* {
    reverse_proxy 127.0.0.1:4000
  }

  handle_path /carshow/* {
    reverse_proxy 127.0.0.1:3000
  }
}
